@import url("coloring.css");
@import url("dimension.css");
@import url("spacing.css");

.display-flex {
  display: flex;
}

.top-bottom-flow {
  flex-direction: column;
}

.bottom-top-flow {
  flex-direction: column-reverse;
}

.left-right-flow {
  flex-direction: row;
}

.right-left-flow {
  flex-direction: row-reverse;
}

/*font-size*/
.font-size001px {font-size: 001px !important;}
.font-size002px {font-size: 002px !important;}
.font-size003px {font-size: 003px !important;}
.font-size004px {font-size: 004px !important;}
.font-size005px {font-size: 005px !important;}
.font-size006px {font-size: 006px !important;}
.font-size007px {font-size: 007px !important;}
.font-size008px {font-size: 008px !important;}
.font-size009px {font-size: 009px !important;}
.font-size010px {font-size: 010px !important;}
.font-size011px {font-size: 011px !important;}
.font-size012px {font-size: 012px !important;}
.font-size013px {font-size: 013px !important;}
.font-size014px {font-size: 014px !important;}
.font-size015px {font-size: 015px !important;}
.font-size016px {font-size: 016px !important;}
.font-size017px {font-size: 017px !important;}
.font-size018px {font-size: 018px !important;}
.font-size019px {font-size: 019px !important;}
.font-size020px {font-size: 020px !important;}
.font-size021px {font-size: 021px !important;}
.font-size022px {font-size: 022px !important;}
.font-size023px {font-size: 023px !important;}
.font-size024px {font-size: 024px !important;}
.font-size025px {font-size: 025px !important;}
.font-size026px {font-size: 026px !important;}
.font-size027px {font-size: 027px !important;}
.font-size028px {font-size: 028px !important;}
.font-size029px {font-size: 029px !important;}
.font-size030px {font-size: 030px !important;}
.font-size031px {font-size: 031px !important;}
.font-size032px {font-size: 032px !important;}
.font-size033px {font-size: 033px !important;}
.font-size034px {font-size: 034px !important;}
.font-size035px {font-size: 035px !important;}
.font-size036px {font-size: 036px !important;}
.font-size037px {font-size: 037px !important;}
.font-size038px {font-size: 038px !important;}
.font-size039px {font-size: 039px !important;}
.font-size040px {font-size: 040px !important;}
.font-size041px {font-size: 041px !important;}
.font-size042px {font-size: 042px !important;}
.font-size043px {font-size: 043px !important;}
.font-size044px {font-size: 044px !important;}
.font-size045px {font-size: 045px !important;}
.font-size046px {font-size: 046px !important;}
.font-size047px {font-size: 047px !important;}
.font-size048px {font-size: 048px !important;}
.font-size049px {font-size: 049px !important;}
.font-size050px {font-size: 050px !important;}
.font-size051px {font-size: 051px !important;}
.font-size052px {font-size: 052px !important;}
.font-size053px {font-size: 053px !important;}
.font-size054px {font-size: 054px !important;}
.font-size055px {font-size: 055px !important;}
.font-size056px {font-size: 056px !important;}
.font-size057px {font-size: 057px !important;}
.font-size058px {font-size: 058px !important;}
.font-size059px {font-size: 059px !important;}
.font-size060px {font-size: 060px !important;}
.font-size061px {font-size: 061px !important;}
.font-size062px {font-size: 062px !important;}
.font-size063px {font-size: 063px !important;}
.font-size064px {font-size: 064px !important;}
.font-size065px {font-size: 065px !important;}
.font-size066px {font-size: 066px !important;}
.font-size067px {font-size: 067px !important;}
.font-size068px {font-size: 068px !important;}
.font-size069px {font-size: 069px !important;}
.font-size070px {font-size: 070px !important;}
.font-size071px {font-size: 071px !important;}
.font-size072px {font-size: 072px !important;}
.font-size073px {font-size: 073px !important;}
.font-size074px {font-size: 074px !important;}
.font-size075px {font-size: 075px !important;}
.font-size076px {font-size: 076px !important;}
.font-size077px {font-size: 077px !important;}
.font-size078px {font-size: 078px !important;}
.font-size079px {font-size: 079px !important;}
.font-size080px {font-size: 080px !important;}
.font-size081px {font-size: 081px !important;}
.font-size082px {font-size: 082px !important;}
.font-size083px {font-size: 083px !important;}
.font-size084px {font-size: 084px !important;}
.font-size085px {font-size: 085px !important;}
.font-size086px {font-size: 086px !important;}
.font-size087px {font-size: 087px !important;}
.font-size088px {font-size: 088px !important;}
.font-size089px {font-size: 089px !important;}
.font-size090px {font-size: 090px !important;}
.font-size091px {font-size: 091px !important;}
.font-size092px {font-size: 092px !important;}
.font-size093px {font-size: 093px !important;}
.font-size094px {font-size: 094px !important;}
.font-size095px {font-size: 095px !important;}
.font-size096px {font-size: 096px !important;}
.font-size097px {font-size: 097px !important;}
.font-size098px {font-size: 098px !important;}
.font-size099px {font-size: 099px !important;}
.font-size100px {font-size: 100px !important;}
.font-size101px {font-size: 101px !important;}
.font-size102px {font-size: 102px !important;}
.font-size103px {font-size: 103px !important;}
.font-size104px {font-size: 104px !important;}
.font-size105px {font-size: 105px !important;}
.font-size106px {font-size: 106px !important;}
.font-size107px {font-size: 107px !important;}
.font-size108px {font-size: 108px !important;}
.font-size109px {font-size: 109px !important;}
.font-size110px {font-size: 110px !important;}
.font-size111px {font-size: 111px !important;}
.font-size112px {font-size: 112px !important;}
.font-size113px {font-size: 113px !important;}
.font-size114px {font-size: 114px !important;}
.font-size115px {font-size: 115px !important;}
.font-size116px {font-size: 116px !important;}
.font-size117px {font-size: 117px !important;}
.font-size118px {font-size: 118px !important;}
.font-size119px {font-size: 119px !important;}
.font-size120px {font-size: 120px !important;}
.font-size121px {font-size: 121px !important;}
.font-size122px {font-size: 122px !important;}
.font-size123px {font-size: 123px !important;}
.font-size124px {font-size: 124px !important;}
.font-size125px {font-size: 125px !important;}
.font-size126px {font-size: 126px !important;}
.font-size127px {font-size: 127px !important;}
.font-size128px {font-size: 128px !important;}
.font-size129px {font-size: 129px !important;}
.font-size130px {font-size: 130px !important;}
.font-size131px {font-size: 131px !important;}
.font-size132px {font-size: 132px !important;}
.font-size133px {font-size: 133px !important;}
.font-size134px {font-size: 134px !important;}
.font-size135px {font-size: 135px !important;}
.font-size136px {font-size: 136px !important;}
.font-size137px {font-size: 137px !important;}
.font-size138px {font-size: 138px !important;}
.font-size139px {font-size: 139px !important;}
.font-size140px {font-size: 140px !important;}
.font-size141px {font-size: 141px !important;}
.font-size142px {font-size: 142px !important;}
.font-size143px {font-size: 143px !important;}
.font-size144px {font-size: 144px !important;}
.font-size145px {font-size: 145px !important;}
.font-size146px {font-size: 146px !important;}
.font-size147px {font-size: 147px !important;}
.font-size148px {font-size: 148px !important;}
.font-size149px {font-size: 149px !important;}
.font-size150px {font-size: 150px !important;}
.font-size151px {font-size: 151px !important;}
.font-size152px {font-size: 152px !important;}
.font-size153px {font-size: 153px !important;}
.font-size154px {font-size: 154px !important;}
.font-size155px {font-size: 155px !important;}
.font-size156px {font-size: 156px !important;}
.font-size157px {font-size: 157px !important;}
.font-size158px {font-size: 158px !important;}
.font-size159px {font-size: 159px !important;}
.font-size160px {font-size: 160px !important;}
.font-size161px {font-size: 161px !important;}
.font-size162px {font-size: 162px !important;}
.font-size163px {font-size: 163px !important;}
.font-size164px {font-size: 164px !important;}
.font-size165px {font-size: 165px !important;}
.font-size166px {font-size: 166px !important;}
.font-size167px {font-size: 167px !important;}
.font-size168px {font-size: 168px !important;}
.font-size169px {font-size: 169px !important;}
.font-size170px {font-size: 170px !important;}
.font-size171px {font-size: 171px !important;}
.font-size172px {font-size: 172px !important;}
.font-size173px {font-size: 173px !important;}
.font-size174px {font-size: 174px !important;}
.font-size175px {font-size: 175px !important;}
.font-size176px {font-size: 176px !important;}
.font-size177px {font-size: 177px !important;}
.font-size178px {font-size: 178px !important;}
.font-size179px {font-size: 179px !important;}
.font-size180px {font-size: 180px !important;}
.font-size181px {font-size: 181px !important;}
.font-size182px {font-size: 182px !important;}
.font-size183px {font-size: 183px !important;}
.font-size184px {font-size: 184px !important;}
.font-size185px {font-size: 185px !important;}
.font-size186px {font-size: 186px !important;}
.font-size187px {font-size: 187px !important;}
.font-size188px {font-size: 188px !important;}
.font-size189px {font-size: 189px !important;}
.font-size190px {font-size: 190px !important;}
.font-size191px {font-size: 191px !important;}
.font-size192px {font-size: 192px !important;}
.font-size193px {font-size: 193px !important;}
.font-size194px {font-size: 194px !important;}
.font-size195px {font-size: 195px !important;}
.font-size196px {font-size: 196px !important;}
.font-size197px {font-size: 197px !important;}
.font-size198px {font-size: 198px !important;}
.font-size199px {font-size: 199px !important;}
.font-size200px {font-size: 200px !important;}
.font-size201px {font-size: 201px !important;}
.font-size202px {font-size: 202px !important;}
.font-size203px {font-size: 203px !important;}
.font-size204px {font-size: 204px !important;}
.font-size205px {font-size: 205px !important;}
.font-size206px {font-size: 206px !important;}
.font-size207px {font-size: 207px !important;}
.font-size208px {font-size: 208px !important;}
.font-size209px {font-size: 209px !important;}
.font-size210px {font-size: 210px !important;}
.font-size211px {font-size: 211px !important;}
.font-size212px {font-size: 212px !important;}
.font-size213px {font-size: 213px !important;}
.font-size214px {font-size: 214px !important;}
.font-size215px {font-size: 215px !important;}
.font-size216px {font-size: 216px !important;}
.font-size217px {font-size: 217px !important;}
.font-size218px {font-size: 218px !important;}
.font-size219px {font-size: 219px !important;}
.font-size220px {font-size: 220px !important;}
.font-size221px {font-size: 221px !important;}
.font-size222px {font-size: 222px !important;}
.font-size223px {font-size: 223px !important;}
.font-size224px {font-size: 224px !important;}
.font-size225px {font-size: 225px !important;}
.font-size226px {font-size: 226px !important;}
.font-size227px {font-size: 227px !important;}
.font-size228px {font-size: 228px !important;}
.font-size229px {font-size: 229px !important;}
.font-size230px {font-size: 230px !important;}
.font-size231px {font-size: 231px !important;}
.font-size232px {font-size: 232px !important;}
.font-size233px {font-size: 233px !important;}
.font-size234px {font-size: 234px !important;}
.font-size235px {font-size: 235px !important;}
.font-size236px {font-size: 236px !important;}
.font-size237px {font-size: 237px !important;}
.font-size238px {font-size: 238px !important;}
.font-size239px {font-size: 239px !important;}
.font-size240px {font-size: 240px !important;}
.font-size241px {font-size: 241px !important;}
.font-size242px {font-size: 242px !important;}
.font-size243px {font-size: 243px !important;}
.font-size244px {font-size: 244px !important;}
.font-size245px {font-size: 245px !important;}
.font-size246px {font-size: 246px !important;}
.font-size247px {font-size: 247px !important;}
.font-size248px {font-size: 248px !important;}
.font-size249px {font-size: 249px !important;}
.font-size250px {font-size: 250px !important;}
.font-size251px {font-size: 251px !important;}
.font-size252px {font-size: 252px !important;}
.font-size253px {font-size: 253px !important;}
.font-size254px {font-size: 254px !important;}
.font-size255px {font-size: 255px !important;}
.font-size256px {font-size: 256px !important;}
.font-size257px {font-size: 257px !important;}
.font-size258px {font-size: 258px !important;}
.font-size259px {font-size: 259px !important;}
.font-size260px {font-size: 260px !important;}
.font-size261px {font-size: 261px !important;}
.font-size262px {font-size: 262px !important;}
.font-size263px {font-size: 263px !important;}
.font-size264px {font-size: 264px !important;}
.font-size265px {font-size: 265px !important;}
.font-size266px {font-size: 266px !important;}
.font-size267px {font-size: 267px !important;}
.font-size268px {font-size: 268px !important;}
.font-size269px {font-size: 269px !important;}
.font-size270px {font-size: 270px !important;}
.font-size271px {font-size: 271px !important;}
.font-size272px {font-size: 272px !important;}
.font-size273px {font-size: 273px !important;}
.font-size274px {font-size: 274px !important;}
.font-size275px {font-size: 275px !important;}
.font-size276px {font-size: 276px !important;}
.font-size277px {font-size: 277px !important;}
.font-size278px {font-size: 278px !important;}
.font-size279px {font-size: 279px !important;}
.font-size280px {font-size: 280px !important;}
.font-size281px {font-size: 281px !important;}
.font-size282px {font-size: 282px !important;}
.font-size283px {font-size: 283px !important;}
.font-size284px {font-size: 284px !important;}
.font-size285px {font-size: 285px !important;}
.font-size286px {font-size: 286px !important;}
.font-size287px {font-size: 287px !important;}
.font-size288px {font-size: 288px !important;}
.font-size289px {font-size: 289px !important;}
.font-size290px {font-size: 290px !important;}
.font-size291px {font-size: 291px !important;}
.font-size292px {font-size: 292px !important;}
.font-size293px {font-size: 293px !important;}
.font-size294px {font-size: 294px !important;}
.font-size295px {font-size: 295px !important;}
.font-size296px {font-size: 296px !important;}
.font-size297px {font-size: 297px !important;}
.font-size298px {font-size: 298px !important;}
.font-size299px {font-size: 299px !important;}
.font-size300px {font-size: 300px !important;}
.font-size301px {font-size: 301px !important;}
.font-size302px {font-size: 302px !important;}
.font-size303px {font-size: 303px !important;}
.font-size304px {font-size: 304px !important;}
.font-size305px {font-size: 305px !important;}
.font-size306px {font-size: 306px !important;}
.font-size307px {font-size: 307px !important;}
.font-size308px {font-size: 308px !important;}
.font-size309px {font-size: 309px !important;}
.font-size310px {font-size: 310px !important;}
.font-size311px {font-size: 311px !important;}
.font-size312px {font-size: 312px !important;}
.font-size313px {font-size: 313px !important;}
.font-size314px {font-size: 314px !important;}
.font-size315px {font-size: 315px !important;}
.font-size316px {font-size: 316px !important;}
.font-size317px {font-size: 317px !important;}
.font-size318px {font-size: 318px !important;}
.font-size319px {font-size: 319px !important;}
.font-size320px {font-size: 320px !important;}
.font-size321px {font-size: 321px !important;}
.font-size322px {font-size: 322px !important;}
.font-size323px {font-size: 323px !important;}
.font-size324px {font-size: 324px !important;}
.font-size325px {font-size: 325px !important;}
.font-size326px {font-size: 326px !important;}
.font-size327px {font-size: 327px !important;}
.font-size328px {font-size: 328px !important;}
.font-size329px {font-size: 329px !important;}
.font-size330px {font-size: 330px !important;}
.font-size331px {font-size: 331px !important;}
.font-size332px {font-size: 332px !important;}
.font-size333px {font-size: 333px !important;}
.font-size334px {font-size: 334px !important;}
.font-size335px {font-size: 335px !important;}
.font-size336px {font-size: 336px !important;}
.font-size337px {font-size: 337px !important;}
.font-size338px {font-size: 338px !important;}
.font-size339px {font-size: 339px !important;}
.font-size340px {font-size: 340px !important;}
.font-size341px {font-size: 341px !important;}
.font-size342px {font-size: 342px !important;}
.font-size343px {font-size: 343px !important;}
.font-size344px {font-size: 344px !important;}
.font-size345px {font-size: 345px !important;}
.font-size346px {font-size: 346px !important;}
.font-size347px {font-size: 347px !important;}
.font-size348px {font-size: 348px !important;}
.font-size349px {font-size: 349px !important;}
.font-size350px {font-size: 350px !important;}
.font-size351px {font-size: 351px !important;}
.font-size352px {font-size: 352px !important;}
.font-size353px {font-size: 353px !important;}
.font-size354px {font-size: 354px !important;}
.font-size355px {font-size: 355px !important;}
.font-size356px {font-size: 356px !important;}
.font-size357px {font-size: 357px !important;}
.font-size358px {font-size: 358px !important;}
.font-size359px {font-size: 359px !important;}
.font-size360px {font-size: 360px !important;}


.border-radius000pct {border-radius:   0% !important;}
.border-radius001pct {border-radius:   1% !important;}
.border-radius002pct {border-radius:   2% !important;}
.border-radius003pct {border-radius:   3% !important;}
.border-radius004pct {border-radius:   4% !important;}
.border-radius005pct {border-radius:   5% !important;}
.border-radius006pct {border-radius:   6% !important;}
.border-radius007pct {border-radius:   7% !important;}
.border-radius008pct {border-radius:   8% !important;}
.border-radius009pct {border-radius:   9% !important;}
.border-radius010pct {border-radius:  10% !important;}
.border-radius011pct {border-radius:  11% !important;}
.border-radius012pct {border-radius:  12% !important;}
.border-radius013pct {border-radius:  13% !important;}
.border-radius014pct {border-radius:  14% !important;}
.border-radius015pct {border-radius:  15% !important;}
.border-radius016pct {border-radius:  16% !important;}
.border-radius017pct {border-radius:  17% !important;}
.border-radius018pct {border-radius:  18% !important;}
.border-radius019pct {border-radius:  19% !important;}
.border-radius020pct {border-radius:  20% !important;}
.border-radius021pct {border-radius:  21% !important;}
.border-radius022pct {border-radius:  22% !important;}
.border-radius023pct {border-radius:  23% !important;}
.border-radius024pct {border-radius:  24% !important;}
.border-radius025pct {border-radius:  25% !important;}
.border-radius026pct {border-radius:  26% !important;}
.border-radius027pct {border-radius:  27% !important;}
.border-radius028pct {border-radius:  28% !important;}
.border-radius029pct {border-radius:  29% !important;}
.border-radius030pct {border-radius:  30% !important;}
.border-radius031pct {border-radius:  31% !important;}
.border-radius032pct {border-radius:  32% !important;}
.border-radius033pct {border-radius:  33% !important;}
.border-radius034pct {border-radius:  34% !important;}
.border-radius035pct {border-radius:  35% !important;}
.border-radius036pct {border-radius:  36% !important;}
.border-radius037pct {border-radius:  37% !important;}
.border-radius038pct {border-radius:  38% !important;}
.border-radius039pct {border-radius:  39% !important;}
.border-radius040pct {border-radius:  40% !important;}
.border-radius041pct {border-radius:  41% !important;}
.border-radius042pct {border-radius:  42% !important;}
.border-radius043pct {border-radius:  43% !important;}
.border-radius044pct {border-radius:  44% !important;}
.border-radius045pct {border-radius:  45% !important;}
.border-radius046pct {border-radius:  46% !important;}
.border-radius047pct {border-radius:  47% !important;}
.border-radius048pct {border-radius:  48% !important;}
.border-radius049pct {border-radius:  49% !important;}
.border-radius050pct {border-radius:  50% !important;}
.border-radius051pct {border-radius:  51% !important;}
.border-radius052pct {border-radius:  52% !important;}
.border-radius053pct {border-radius:  53% !important;}
.border-radius054pct {border-radius:  54% !important;}
.border-radius055pct {border-radius:  55% !important;}
.border-radius056pct {border-radius:  56% !important;}
.border-radius057pct {border-radius:  57% !important;}
.border-radius058pct {border-radius:  58% !important;}
.border-radius059pct {border-radius:  59% !important;}
.border-radius060pct {border-radius:  60% !important;}
.border-radius061pct {border-radius:  61% !important;}
.border-radius062pct {border-radius:  62% !important;}
.border-radius063pct {border-radius:  63% !important;}
.border-radius064pct {border-radius:  64% !important;}
.border-radius065pct {border-radius:  65% !important;}
.border-radius066pct {border-radius:  66% !important;}
.border-radius067pct {border-radius:  67% !important;}
.border-radius068pct {border-radius:  68% !important;}
.border-radius069pct {border-radius:  69% !important;}
.border-radius070pct {border-radius:  70% !important;}
.border-radius071pct {border-radius:  71% !important;}
.border-radius072pct {border-radius:  72% !important;}
.border-radius073pct {border-radius:  73% !important;}
.border-radius074pct {border-radius:  74% !important;}
.border-radius075pct {border-radius:  75% !important;}
.border-radius076pct {border-radius:  76% !important;}
.border-radius077pct {border-radius:  77% !important;}
.border-radius078pct {border-radius:  78% !important;}
.border-radius079pct {border-radius:  79% !important;}
.border-radius080pct {border-radius:  80% !important;}
.border-radius081pct {border-radius:  81% !important;}
.border-radius082pct {border-radius:  82% !important;}
.border-radius083pct {border-radius:  83% !important;}
.border-radius084pct {border-radius:  84% !important;}
.border-radius085pct {border-radius:  85% !important;}
.border-radius086pct {border-radius:  86% !important;}
.border-radius087pct {border-radius:  87% !important;}
.border-radius088pct {border-radius:  88% !important;}
.border-radius089pct {border-radius:  89% !important;}
.border-radius090pct {border-radius:  90% !important;}
.border-radius091pct {border-radius:  91% !important;}
.border-radius092pct {border-radius:  92% !important;}
.border-radius093pct {border-radius:  93% !important;}
.border-radius094pct {border-radius:  94% !important;}
.border-radius095pct {border-radius:  95% !important;}
.border-radius096pct {border-radius:  96% !important;}
.border-radius097pct {border-radius:  97% !important;}
.border-radius098pct {border-radius:  98% !important;}
.border-radius099pct {border-radius:  99% !important;}
.border-radius100pct {border-radius: 100% !important;}

.border-radius000px {border-radius:   0px !important;}
.border-radius001px {border-radius:   1px !important;}
.border-radius002px {border-radius:   2px !important;}
.border-radius003px {border-radius:   3px !important;}
.border-radius004px {border-radius:   4px !important;}
.border-radius005px {border-radius:   5px !important;}
.border-radius006px {border-radius:   6px !important;}
.border-radius007px {border-radius:   7px !important;}
.border-radius008px {border-radius:   8px !important;}
.border-radius009px {border-radius:   9px !important;}
.border-radius010px {border-radius:  10px !important;}
.border-radius011px {border-radius:  11px !important;}
.border-radius012px {border-radius:  12px !important;}
.border-radius013px {border-radius:  13px !important;}
.border-radius014px {border-radius:  14px !important;}
.border-radius015px {border-radius:  15px !important;}
.border-radius016px {border-radius:  16px !important;}
.border-radius017px {border-radius:  17px !important;}
.border-radius018px {border-radius:  18px !important;}
.border-radius019px {border-radius:  19px !important;}
.border-radius020px {border-radius:  20px !important;}
.border-radius021px {border-radius:  21px !important;}
.border-radius022px {border-radius:  22px !important;}
.border-radius023px {border-radius:  23px !important;}
.border-radius024px {border-radius:  24px !important;}
.border-radius025px {border-radius:  25px !important;}
.border-radius026px {border-radius:  26px !important;}
.border-radius027px {border-radius:  27px !important;}
.border-radius028px {border-radius:  28px !important;}
.border-radius029px {border-radius:  29px !important;}
.border-radius030px {border-radius:  30px !important;}
.border-radius031px {border-radius:  31px !important;}
.border-radius032px {border-radius:  32px !important;}
.border-radius033px {border-radius:  33px !important;}
.border-radius034px {border-radius:  34px !important;}
.border-radius035px {border-radius:  35px !important;}
.border-radius036px {border-radius:  36px !important;}
.border-radius037px {border-radius:  37px !important;}
.border-radius038px {border-radius:  38px !important;}
.border-radius039px {border-radius:  39px !important;}
.border-radius040px {border-radius:  40px !important;}
.border-radius041px {border-radius:  41px !important;}
.border-radius042px {border-radius:  42px !important;}
.border-radius043px {border-radius:  43px !important;}
.border-radius044px {border-radius:  44px !important;}
.border-radius045px {border-radius:  45px !important;}
.border-radius046px {border-radius:  46px !important;}
.border-radius047px {border-radius:  47px !important;}
.border-radius048px {border-radius:  48px !important;}
.border-radius049px {border-radius:  49px !important;}
.border-radius050px {border-radius:  50px !important;}
.border-radius051px {border-radius:  51px !important;}
.border-radius052px {border-radius:  52px !important;}
.border-radius053px {border-radius:  53px !important;}
.border-radius054px {border-radius:  54px !important;}
.border-radius055px {border-radius:  55px !important;}
.border-radius056px {border-radius:  56px !important;}
.border-radius057px {border-radius:  57px !important;}
.border-radius058px {border-radius:  58px !important;}
.border-radius059px {border-radius:  59px !important;}
.border-radius060px {border-radius:  60px !important;}
.border-radius061px {border-radius:  61px !important;}
.border-radius062px {border-radius:  62px !important;}
.border-radius063px {border-radius:  63px !important;}
.border-radius064px {border-radius:  64px !important;}
.border-radius065px {border-radius:  65px !important;}
.border-radius066px {border-radius:  66px !important;}
.border-radius067px {border-radius:  67px !important;}
.border-radius068px {border-radius:  68px !important;}
.border-radius069px {border-radius:  69px !important;}
.border-radius070px {border-radius:  70px !important;}
.border-radius071px {border-radius:  71px !important;}
.border-radius072px {border-radius:  72px !important;}
.border-radius073px {border-radius:  73px !important;}
.border-radius074px {border-radius:  74px !important;}
.border-radius075px {border-radius:  75px !important;}
.border-radius076px {border-radius:  76px !important;}
.border-radius077px {border-radius:  77px !important;}
.border-radius078px {border-radius:  78px !important;}
.border-radius079px {border-radius:  79px !important;}
.border-radius080px {border-radius:  80px !important;}
.border-radius081px {border-radius:  81px !important;}
.border-radius082px {border-radius:  82px !important;}
.border-radius083px {border-radius:  83px !important;}
.border-radius084px {border-radius:  84px !important;}
.border-radius085px {border-radius:  85px !important;}
.border-radius086px {border-radius:  86px !important;}
.border-radius087px {border-radius:  87px !important;}
.border-radius088px {border-radius:  88px !important;}
.border-radius089px {border-radius:  89px !important;}
.border-radius090px {border-radius:  90px !important;}
.border-radius091px {border-radius:  91px !important;}
.border-radius092px {border-radius:  92px !important;}
.border-radius093px {border-radius:  93px !important;}
.border-radius094px {border-radius:  94px !important;}
.border-radius095px {border-radius:  95px !important;}
.border-radius096px {border-radius:  96px !important;}
.border-radius097px {border-radius:  97px !important;}
.border-radius098px {border-radius:  98px !important;}
.border-radius099px {border-radius:  99px !important;}
.border-radius100px {border-radius: 100px !important;}
.border-radius101px {border-radius: 101px !important;}
.border-radius102px {border-radius: 102px !important;}
.border-radius103px {border-radius: 103px !important;}
.border-radius104px {border-radius: 104px !important;}
.border-radius105px {border-radius: 105px !important;}
.border-radius106px {border-radius: 106px !important;}
.border-radius107px {border-radius: 107px !important;}
.border-radius108px {border-radius: 108px !important;}
.border-radius109px {border-radius: 109px !important;}
.border-radius110px {border-radius: 110px !important;}
.border-radius111px {border-radius: 111px !important;}
.border-radius112px {border-radius: 112px !important;}
.border-radius113px {border-radius: 113px !important;}
.border-radius114px {border-radius: 114px !important;}
.border-radius115px {border-radius: 115px !important;}
.border-radius116px {border-radius: 116px !important;}
.border-radius117px {border-radius: 117px !important;}
.border-radius118px {border-radius: 118px !important;}
.border-radius119px {border-radius: 119px !important;}
.border-radius120px {border-radius: 120px !important;}
.border-radius121px {border-radius: 121px !important;}
.border-radius122px {border-radius: 122px !important;}
.border-radius123px {border-radius: 123px !important;}
.border-radius124px {border-radius: 124px !important;}
.border-radius125px {border-radius: 125px !important;}
.border-radius126px {border-radius: 126px !important;}
.border-radius127px {border-radius: 127px !important;}
.border-radius128px {border-radius: 128px !important;}
.border-radius129px {border-radius: 129px !important;}
.border-radius130px {border-radius: 130px !important;}
.border-radius131px {border-radius: 131px !important;}
.border-radius132px {border-radius: 132px !important;}
.border-radius133px {border-radius: 133px !important;}
.border-radius134px {border-radius: 134px !important;}
.border-radius135px {border-radius: 135px !important;}
.border-radius136px {border-radius: 136px !important;}
.border-radius137px {border-radius: 137px !important;}
.border-radius138px {border-radius: 138px !important;}
.border-radius139px {border-radius: 139px !important;}
.border-radius140px {border-radius: 140px !important;}
.border-radius141px {border-radius: 141px !important;}
.border-radius142px {border-radius: 142px !important;}
.border-radius143px {border-radius: 143px !important;}
.border-radius144px {border-radius: 144px !important;}
.border-radius145px {border-radius: 145px !important;}
.border-radius146px {border-radius: 146px !important;}
.border-radius147px {border-radius: 147px !important;}
.border-radius148px {border-radius: 148px !important;}
.border-radius149px {border-radius: 149px !important;}
.border-radius150px {border-radius: 150px !important;}
.border-radius151px {border-radius: 151px !important;}
.border-radius152px {border-radius: 152px !important;}
.border-radius153px {border-radius: 153px !important;}
.border-radius154px {border-radius: 154px !important;}
.border-radius155px {border-radius: 155px !important;}
.border-radius156px {border-radius: 156px !important;}
.border-radius157px {border-radius: 157px !important;}
.border-radius158px {border-radius: 158px !important;}
.border-radius159px {border-radius: 159px !important;}
.border-radius160px {border-radius: 160px !important;}
.border-radius161px {border-radius: 161px !important;}
.border-radius162px {border-radius: 162px !important;}
.border-radius163px {border-radius: 163px !important;}
.border-radius164px {border-radius: 164px !important;}
.border-radius165px {border-radius: 165px !important;}
.border-radius166px {border-radius: 166px !important;}
.border-radius167px {border-radius: 167px !important;}
.border-radius168px {border-radius: 168px !important;}
.border-radius169px {border-radius: 169px !important;}
.border-radius170px {border-radius: 170px !important;}
.border-radius171px {border-radius: 171px !important;}
.border-radius172px {border-radius: 172px !important;}
.border-radius173px {border-radius: 173px !important;}
.border-radius174px {border-radius: 174px !important;}
.border-radius175px {border-radius: 175px !important;}
.border-radius176px {border-radius: 176px !important;}
.border-radius177px {border-radius: 177px !important;}
.border-radius178px {border-radius: 178px !important;}
.border-radius179px {border-radius: 179px !important;}
.border-radius180px {border-radius: 180px !important;}
.border-radius181px {border-radius: 181px !important;}
.border-radius182px {border-radius: 182px !important;}
.border-radius183px {border-radius: 183px !important;}
.border-radius184px {border-radius: 184px !important;}
.border-radius185px {border-radius: 185px !important;}
.border-radius186px {border-radius: 186px !important;}
.border-radius187px {border-radius: 187px !important;}
.border-radius188px {border-radius: 188px !important;}
.border-radius189px {border-radius: 189px !important;}
.border-radius190px {border-radius: 190px !important;}
.border-radius191px {border-radius: 191px !important;}
.border-radius192px {border-radius: 192px !important;}
.border-radius193px {border-radius: 193px !important;}
.border-radius194px {border-radius: 194px !important;}
.border-radius195px {border-radius: 195px !important;}
.border-radius196px {border-radius: 196px !important;}
.border-radius197px {border-radius: 197px !important;}
.border-radius198px {border-radius: 198px !important;}
.border-radius199px {border-radius: 199px !important;}
.border-radius200px {border-radius: 200px !important;}
.border-radius201px {border-radius: 201px !important;}
.border-radius202px {border-radius: 202px !important;}
.border-radius203px {border-radius: 203px !important;}
.border-radius204px {border-radius: 204px !important;}
.border-radius205px {border-radius: 205px !important;}
.border-radius206px {border-radius: 206px !important;}
.border-radius207px {border-radius: 207px !important;}
.border-radius208px {border-radius: 208px !important;}
.border-radius209px {border-radius: 209px !important;}
.border-radius210px {border-radius: 210px !important;}
.border-radius211px {border-radius: 211px !important;}
.border-radius212px {border-radius: 212px !important;}
.border-radius213px {border-radius: 213px !important;}
.border-radius214px {border-radius: 214px !important;}
.border-radius215px {border-radius: 215px !important;}
.border-radius216px {border-radius: 216px !important;}
.border-radius217px {border-radius: 217px !important;}
.border-radius218px {border-radius: 218px !important;}
.border-radius219px {border-radius: 219px !important;}
.border-radius220px {border-radius: 220px !important;}
.border-radius221px {border-radius: 221px !important;}
.border-radius222px {border-radius: 222px !important;}
.border-radius223px {border-radius: 223px !important;}
.border-radius224px {border-radius: 224px !important;}
.border-radius225px {border-radius: 225px !important;}
.border-radius226px {border-radius: 226px !important;}
.border-radius227px {border-radius: 227px !important;}
.border-radius228px {border-radius: 228px !important;}
.border-radius229px {border-radius: 229px !important;}
.border-radius230px {border-radius: 230px !important;}
.border-radius231px {border-radius: 231px !important;}
.border-radius232px {border-radius: 232px !important;}
.border-radius233px {border-radius: 233px !important;}
.border-radius234px {border-radius: 234px !important;}
.border-radius235px {border-radius: 235px !important;}
.border-radius236px {border-radius: 236px !important;}
.border-radius237px {border-radius: 237px !important;}
.border-radius238px {border-radius: 238px !important;}
.border-radius239px {border-radius: 239px !important;}
.border-radius240px {border-radius: 240px !important;}
.border-radius241px {border-radius: 241px !important;}
.border-radius242px {border-radius: 242px !important;}
.border-radius243px {border-radius: 243px !important;}
.border-radius244px {border-radius: 244px !important;}
.border-radius245px {border-radius: 245px !important;}
.border-radius246px {border-radius: 246px !important;}
.border-radius247px {border-radius: 247px !important;}
.border-radius248px {border-radius: 248px !important;}
.border-radius249px {border-radius: 249px !important;}
.border-radius250px {border-radius: 250px !important;}
.border-radius251px {border-radius: 251px !important;}
.border-radius252px {border-radius: 252px !important;}
.border-radius253px {border-radius: 253px !important;}
.border-radius254px {border-radius: 254px !important;}
.border-radius255px {border-radius: 255px !important;}
.border-radius256px {border-radius: 256px !important;}
.border-radius257px {border-radius: 257px !important;}
.border-radius258px {border-radius: 258px !important;}
.border-radius259px {border-radius: 259px !important;}
.border-radius260px {border-radius: 260px !important;}
.border-radius261px {border-radius: 261px !important;}
.border-radius262px {border-radius: 262px !important;}
.border-radius263px {border-radius: 263px !important;}
.border-radius264px {border-radius: 264px !important;}
.border-radius265px {border-radius: 265px !important;}
.border-radius266px {border-radius: 266px !important;}
.border-radius267px {border-radius: 267px !important;}
.border-radius268px {border-radius: 268px !important;}
.border-radius269px {border-radius: 269px !important;}
.border-radius270px {border-radius: 270px !important;}
.border-radius271px {border-radius: 271px !important;}
.border-radius272px {border-radius: 272px !important;}
.border-radius273px {border-radius: 273px !important;}
.border-radius274px {border-radius: 274px !important;}
.border-radius275px {border-radius: 275px !important;}
.border-radius276px {border-radius: 276px !important;}
.border-radius277px {border-radius: 277px !important;}
.border-radius278px {border-radius: 278px !important;}
.border-radius279px {border-radius: 279px !important;}
.border-radius280px {border-radius: 280px !important;}
.border-radius281px {border-radius: 281px !important;}
.border-radius282px {border-radius: 282px !important;}
.border-radius283px {border-radius: 283px !important;}
.border-radius284px {border-radius: 284px !important;}
.border-radius285px {border-radius: 285px !important;}
.border-radius286px {border-radius: 286px !important;}
.border-radius287px {border-radius: 287px !important;}
.border-radius288px {border-radius: 288px !important;}
.border-radius289px {border-radius: 289px !important;}
.border-radius290px {border-radius: 290px !important;}
.border-radius291px {border-radius: 291px !important;}
.border-radius292px {border-radius: 292px !important;}
.border-radius293px {border-radius: 293px !important;}
.border-radius294px {border-radius: 294px !important;}
.border-radius295px {border-radius: 295px !important;}
.border-radius296px {border-radius: 296px !important;}
.border-radius297px {border-radius: 297px !important;}
.border-radius298px {border-radius: 298px !important;}
.border-radius299px {border-radius: 299px !important;}
.border-radius300px {border-radius: 300px !important;}
.border-radius301px {border-radius: 301px !important;}
.border-radius302px {border-radius: 302px !important;}
.border-radius303px {border-radius: 303px !important;}
.border-radius304px {border-radius: 304px !important;}
.border-radius305px {border-radius: 305px !important;}
.border-radius306px {border-radius: 306px !important;}
.border-radius307px {border-radius: 307px !important;}
.border-radius308px {border-radius: 308px !important;}
.border-radius309px {border-radius: 309px !important;}
.border-radius310px {border-radius: 310px !important;}
.border-radius311px {border-radius: 311px !important;}
.border-radius312px {border-radius: 312px !important;}
.border-radius313px {border-radius: 313px !important;}
.border-radius314px {border-radius: 314px !important;}
.border-radius315px {border-radius: 315px !important;}
.border-radius316px {border-radius: 316px !important;}
.border-radius317px {border-radius: 317px !important;}
.border-radius318px {border-radius: 318px !important;}
.border-radius319px {border-radius: 319px !important;}
.border-radius320px {border-radius: 320px !important;}
.border-radius321px {border-radius: 321px !important;}
.border-radius322px {border-radius: 322px !important;}
.border-radius323px {border-radius: 323px !important;}
.border-radius324px {border-radius: 324px !important;}
.border-radius325px {border-radius: 325px !important;}
.border-radius326px {border-radius: 326px !important;}
.border-radius327px {border-radius: 327px !important;}
.border-radius328px {border-radius: 328px !important;}
.border-radius329px {border-radius: 329px !important;}
.border-radius330px {border-radius: 330px !important;}
.border-radius331px {border-radius: 331px !important;}
.border-radius332px {border-radius: 332px !important;}
.border-radius333px {border-radius: 333px !important;}
.border-radius334px {border-radius: 334px !important;}
.border-radius335px {border-radius: 335px !important;}
.border-radius336px {border-radius: 336px !important;}
.border-radius337px {border-radius: 337px !important;}
.border-radius338px {border-radius: 338px !important;}
.border-radius339px {border-radius: 339px !important;}
.border-radius340px {border-radius: 340px !important;}
.border-radius341px {border-radius: 341px !important;}
.border-radius342px {border-radius: 342px !important;}
.border-radius343px {border-radius: 343px !important;}
.border-radius344px {border-radius: 344px !important;}
.border-radius345px {border-radius: 345px !important;}
.border-radius346px {border-radius: 346px !important;}
.border-radius347px {border-radius: 347px !important;}
.border-radius348px {border-radius: 348px !important;}
.border-radius349px {border-radius: 349px !important;}
.border-radius350px {border-radius: 350px !important;}
.border-radius351px {border-radius: 351px !important;}
.border-radius352px {border-radius: 352px !important;}
.border-radius353px {border-radius: 353px !important;}
.border-radius354px {border-radius: 354px !important;}
.border-radius355px {border-radius: 355px !important;}
.border-radius356px {border-radius: 356px !important;}
.border-radius357px {border-radius: 357px !important;}
.border-radius358px {border-radius: 358px !important;}
.border-radius359px {border-radius: 359px !important;}
.border-radius360px {border-radius: 360px !important;}

.text-align-left {text-align: left !important;}
.text-align-right {text-align: right !important;}
.text-align-center {text-align: center !important;}
.text-align-justify {text-align: justify !important;}
.text-align-justify-all {text-align: justify-all !important;}
.text-align-start {text-align: start !important;}
.text-align-end {text-align: end !important;}
.text-align-match-parent {text-align: match-parent !important;}
.text-align--moz-center {text-align: -moz-center !important;}
.text-align--webkit-center {text-align: -webkit-center !important;}
.text-align-inherit {text-align: inherit !important;}
.text-align-initial {text-align: initial !important;}
.text-align-unset {text-align: unset !important;}

/*font-weight*/
.font-weight-bold {font-weight: bold !important;}
.font-weight-normal {font-weight: normal !important;}
.font-weight-thin {font-weight: thin !important;}

/*font-style*/
.font-style-normal {font-style: normal !important;}
.font-style-italic {font-style: italic !important;}

/*opacity*/
.opacity001 {opacity: 0.01 !important;}
.opacity002 {opacity: 0.02 !important;}
.opacity003 {opacity: 0.03 !important;}
.opacity004 {opacity: 0.04 !important;}
.opacity005 {opacity: 0.05 !important;}
.opacity006 {opacity: 0.06 !important;}
.opacity007 {opacity: 0.07 !important;}
.opacity008 {opacity: 0.08 !important;}
.opacity009 {opacity: 0.09 !important;}
.opacity010 {opacity: 0.10 !important;}
.opacity011 {opacity: 0.11 !important;}
.opacity012 {opacity: 0.12 !important;}
.opacity013 {opacity: 0.13 !important;}
.opacity014 {opacity: 0.14 !important;}
.opacity015 {opacity: 0.15 !important;}
.opacity016 {opacity: 0.16 !important;}
.opacity017 {opacity: 0.17 !important;}
.opacity018 {opacity: 0.18 !important;}
.opacity019 {opacity: 0.19 !important;}
.opacity020 {opacity: 0.20 !important;}
.opacity021 {opacity: 0.21 !important;}
.opacity022 {opacity: 0.22 !important;}
.opacity023 {opacity: 0.23 !important;}
.opacity024 {opacity: 0.24 !important;}
.opacity025 {opacity: 0.25 !important;}
.opacity026 {opacity: 0.26 !important;}
.opacity027 {opacity: 0.27 !important;}
.opacity028 {opacity: 0.28 !important;}
.opacity029 {opacity: 0.29 !important;}
.opacity030 {opacity: 0.30 !important;}
.opacity031 {opacity: 0.31 !important;}
.opacity032 {opacity: 0.32 !important;}
.opacity033 {opacity: 0.33 !important;}
.opacity034 {opacity: 0.34 !important;}
.opacity035 {opacity: 0.35 !important;}
.opacity036 {opacity: 0.36 !important;}
.opacity037 {opacity: 0.37 !important;}
.opacity038 {opacity: 0.38 !important;}
.opacity039 {opacity: 0.39 !important;}
.opacity040 {opacity: 0.40 !important;}
.opacity041 {opacity: 0.41 !important;}
.opacity042 {opacity: 0.42 !important;}
.opacity043 {opacity: 0.43 !important;}
.opacity044 {opacity: 0.44 !important;}
.opacity045 {opacity: 0.45 !important;}
.opacity046 {opacity: 0.46 !important;}
.opacity047 {opacity: 0.47 !important;}
.opacity048 {opacity: 0.48 !important;}
.opacity049 {opacity: 0.49 !important;}
.opacity050 {opacity: 0.50 !important;}
.opacity051 {opacity: 0.51 !important;}
.opacity052 {opacity: 0.52 !important;}
.opacity053 {opacity: 0.53 !important;}
.opacity054 {opacity: 0.54 !important;}
.opacity055 {opacity: 0.55 !important;}
.opacity056 {opacity: 0.56 !important;}
.opacity057 {opacity: 0.57 !important;}
.opacity058 {opacity: 0.58 !important;}
.opacity059 {opacity: 0.59 !important;}
.opacity060 {opacity: 0.60 !important;}
.opacity061 {opacity: 0.61 !important;}
.opacity062 {opacity: 0.62 !important;}
.opacity063 {opacity: 0.63 !important;}
.opacity064 {opacity: 0.64 !important;}
.opacity065 {opacity: 0.65 !important;}
.opacity066 {opacity: 0.66 !important;}
.opacity067 {opacity: 0.67 !important;}
.opacity068 {opacity: 0.68 !important;}
.opacity069 {opacity: 0.69 !important;}
.opacity070 {opacity: 0.70 !important;}
.opacity071 {opacity: 0.71 !important;}
.opacity072 {opacity: 0.72 !important;}
.opacity073 {opacity: 0.73 !important;}
.opacity074 {opacity: 0.74 !important;}
.opacity075 {opacity: 0.75 !important;}
.opacity076 {opacity: 0.76 !important;}
.opacity077 {opacity: 0.77 !important;}
.opacity078 {opacity: 0.78 !important;}
.opacity079 {opacity: 0.79 !important;}
.opacity080 {opacity: 0.80 !important;}
.opacity081 {opacity: 0.81 !important;}
.opacity082 {opacity: 0.82 !important;}
.opacity083 {opacity: 0.83 !important;}
.opacity084 {opacity: 0.84 !important;}
.opacity085 {opacity: 0.85 !important;}
.opacity086 {opacity: 0.86 !important;}
.opacity087 {opacity: 0.87 !important;}
.opacity088 {opacity: 0.88 !important;}
.opacity089 {opacity: 0.89 !important;}
.opacity090 {opacity: 0.90 !important;}
.opacity091 {opacity: 0.91 !important;}
.opacity092 {opacity: 0.92 !important;}
.opacity093 {opacity: 0.93 !important;}
.opacity094 {opacity: 0.94 !important;}
.opacity095 {opacity: 0.95 !important;}
.opacity096 {opacity: 0.96 !important;}
.opacity097 {opacity: 0.97 !important;}
.opacity098 {opacity: 0.98 !important;}
.opacity099 {opacity: 0.99 !important;}
.opacity100 {opacity: 1.00 !important;}

.opacity001pct {opacity: 0.01 !important;}
.opacity002pct {opacity: 0.02 !important;}
.opacity003pct {opacity: 0.03 !important;}
.opacity004pct {opacity: 0.04 !important;}
.opacity005pct {opacity: 0.05 !important;}
.opacity006pct {opacity: 0.06 !important;}
.opacity007pct {opacity: 0.07 !important;}
.opacity008pct {opacity: 0.08 !important;}
.opacity009pct {opacity: 0.09 !important;}
.opacity010pct {opacity: 0.10 !important;}
.opacity011pct {opacity: 0.11 !important;}
.opacity012pct {opacity: 0.12 !important;}
.opacity013pct {opacity: 0.13 !important;}
.opacity014pct {opacity: 0.14 !important;}
.opacity015pct {opacity: 0.15 !important;}
.opacity016pct {opacity: 0.16 !important;}
.opacity017pct {opacity: 0.17 !important;}
.opacity018pct {opacity: 0.18 !important;}
.opacity019pct {opacity: 0.19 !important;}
.opacity020pct {opacity: 0.20 !important;}
.opacity021pct {opacity: 0.21 !important;}
.opacity022pct {opacity: 0.22 !important;}
.opacity023pct {opacity: 0.23 !important;}
.opacity024pct {opacity: 0.24 !important;}
.opacity025pct {opacity: 0.25 !important;}
.opacity026pct {opacity: 0.26 !important;}
.opacity027pct {opacity: 0.27 !important;}
.opacity028pct {opacity: 0.28 !important;}
.opacity029pct {opacity: 0.29 !important;}
.opacity030pct {opacity: 0.30 !important;}
.opacity031pct {opacity: 0.31 !important;}
.opacity032pct {opacity: 0.32 !important;}
.opacity033pct {opacity: 0.33 !important;}
.opacity034pct {opacity: 0.34 !important;}
.opacity035pct {opacity: 0.35 !important;}
.opacity036pct {opacity: 0.36 !important;}
.opacity037pct {opacity: 0.37 !important;}
.opacity038pct {opacity: 0.38 !important;}
.opacity039pct {opacity: 0.39 !important;}
.opacity040pct {opacity: 0.40 !important;}
.opacity041pct {opacity: 0.41 !important;}
.opacity042pct {opacity: 0.42 !important;}
.opacity043pct {opacity: 0.43 !important;}
.opacity044pct {opacity: 0.44 !important;}
.opacity045pct {opacity: 0.45 !important;}
.opacity046pct {opacity: 0.46 !important;}
.opacity047pct {opacity: 0.47 !important;}
.opacity048pct {opacity: 0.48 !important;}
.opacity049pct {opacity: 0.49 !important;}
.opacity050pct {opacity: 0.50 !important;}
.opacity051pct {opacity: 0.51 !important;}
.opacity052pct {opacity: 0.52 !important;}
.opacity053pct {opacity: 0.53 !important;}
.opacity054pct {opacity: 0.54 !important;}
.opacity055pct {opacity: 0.55 !important;}
.opacity056pct {opacity: 0.56 !important;}
.opacity057pct {opacity: 0.57 !important;}
.opacity058pct {opacity: 0.58 !important;}
.opacity059pct {opacity: 0.59 !important;}
.opacity060pct {opacity: 0.60 !important;}
.opacity061pct {opacity: 0.61 !important;}
.opacity062pct {opacity: 0.62 !important;}
.opacity063pct {opacity: 0.63 !important;}
.opacity064pct {opacity: 0.64 !important;}
.opacity065pct {opacity: 0.65 !important;}
.opacity066pct {opacity: 0.66 !important;}
.opacity067pct {opacity: 0.67 !important;}
.opacity068pct {opacity: 0.68 !important;}
.opacity069pct {opacity: 0.69 !important;}
.opacity070pct {opacity: 0.70 !important;}
.opacity071pct {opacity: 0.71 !important;}
.opacity072pct {opacity: 0.72 !important;}
.opacity073pct {opacity: 0.73 !important;}
.opacity074pct {opacity: 0.74 !important;}
.opacity075pct {opacity: 0.75 !important;}
.opacity076pct {opacity: 0.76 !important;}
.opacity077pct {opacity: 0.77 !important;}
.opacity078pct {opacity: 0.78 !important;}
.opacity079pct {opacity: 0.79 !important;}
.opacity080pct {opacity: 0.80 !important;}
.opacity081pct {opacity: 0.81 !important;}
.opacity082pct {opacity: 0.82 !important;}
.opacity083pct {opacity: 0.83 !important;}
.opacity084pct {opacity: 0.84 !important;}
.opacity085pct {opacity: 0.85 !important;}
.opacity086pct {opacity: 0.86 !important;}
.opacity087pct {opacity: 0.87 !important;}
.opacity088pct {opacity: 0.88 !important;}
.opacity089pct {opacity: 0.89 !important;}
.opacity090pct {opacity: 0.90 !important;}
.opacity091pct {opacity: 0.91 !important;}
.opacity092pct {opacity: 0.92 !important;}
.opacity093pct {opacity: 0.93 !important;}
.opacity094pct {opacity: 0.94 !important;}
.opacity095pct {opacity: 0.95 !important;}
.opacity096pct {opacity: 0.96 !important;}
.opacity097pct {opacity: 0.97 !important;}
.opacity098pct {opacity: 0.98 !important;}
.opacity099pct {opacity: 0.99 !important;}
.opacity100pct {opacity: 1.00 !important;}
