/***
 *       ____ ____ ____  
 *      / ___/ ___/ ___| 
 *     | |   \___ \___ \ 
 *     | |___ ___) |__) |
 *      \____|____/____/ 
 *                       
 */

      @font-face {
        font-family:"UbuntuBold";
        src: url("https://github.com/901D3/901D3.github.io/raw/branchcuahuy/assets/font/Ubuntu/Ubuntu-B.ttf");
        src: url("https://github.com/901D3/901D3.github.io/raw/branchcuahuy/assets/font/Ubuntu/Ubuntu-B.ttf") format("woff");
        }
      @font-face {
        font-family:"UbuntuBoldItalic";
        src: url("https://raw.githubusercontent.com/901D3/webcuahuy-901d3/main/assets/font/Ubuntu/woff2/Ubuntu-BI.woff2");
        src: url("https://raw.githubusercontent.com/901D3/webcuahuy-901d3/main/assets/font/Ubuntu/woff2/Ubuntu-BI.woff2") format("woff2");
        }
      @font-face {
        font-family:"UbuntuLow";
        src: url("https://raw.githubusercontent.com/901D3/webcuahuy-901d3/main/assets/font/Ubuntu/woff2/Ubuntu-L.woff2");
        src: url("https://raw.githubusercontent.com/901D3/webcuahuy-901d3/main/assets/font/Ubuntu/woff2/Ubuntu-L.woff2") format("woff2");
        }
      @font-face {
        font-family:"UbuntuLowItalic";
        src: url("https://raw.githubusercontent.com/901D3/webcuahuy-901d3/main/assets/font/Ubuntu/woff2/Ubuntu-LI.woff2");
        src: url("https://raw.githubusercontent.com/901D3/webcuahuy-901d3/main/assets/font/Ubuntu/woff2/Ubuntu-LI.woff2") format("woff2");
        }
      @font-face {
        font-family:"UbuntuMedium";
        src: url("https://raw.githubusercontent.com/901D3/webcuahuy-901d3/main/assets/font/Ubuntu/woff2/Ubuntu-M.woff2");
        src: url("https://raw.githubusercontent.com/901D3/webcuahuy-901d3/main/assets/font/Ubuntu/woff2/Ubuntu-M.woff2") format("woff2");
        }
      @font-face {
        font-family:"UbuntuMediumItalic";
        src: url("https://raw.githubusercontent.com/901D3/webcuahuy-901d3/main/assets/font/Ubuntu/woff2/Ubuntu-MI.woff2");
        src: url("https://raw.githubusercontent.com/901D3/webcuahuy-901d3/main/assets/font/Ubuntu/woff2/Ubuntu-MI.woff2") format("woff2")
        }
      @font-face {
        font-family:"UbuntuR";
        src: url("https://raw.githubusercontent.com/901D3/webcuahuy-901d3/main/assets/font/Ubuntu/woff2/Ubuntu-R.woff2");
        src: url("https://raw.githubusercontent.com/901D3/webcuahuy-901d3/main/assets/font/Ubuntu/woff2/Ubuntu-R.woff2") format("woff2")
        }
      @font-face {
        font-family:"UbuntuRI";
        src: url("https://raw.githubusercontent.com/901D3/webcuahuy-901d3/main/assets/font/Ubuntu/woff2/Ubuntu-RI.woff2");
        src: url("https://raw.githubusercontent.com/901D3/webcuahuy-901d3/main/assets/font/Ubuntu/woff2/Ubuntu-RI.woff2") format("woff2")
        }
      @font-face {
        font-family:"UbuntuTh";
        src: url("https://raw.githubusercontent.com/901D3/webcuahuy-901d3/main/assets/font/Ubuntu/woff2/Ubuntu-Th.woff2");
        src: url("https://raw.githubusercontent.com/901D3/webcuahuy-901d3/main/assets/font/Ubuntu/woff2/Ubuntu-Th.woff2") format("woff2")
        }
      @font-face {
        font-family:"UbuntuMonoBold";
        src: url("https://raw.githubusercontent.com/901D3/webcuahuy-901d3/main/assets/font/Ubuntu/woff2/UbuntuMono-B.woff2");
        src: url("https://raw.githubusercontent.com/901D3/webcuahuy-901d3/main/assets/font/Ubuntu/woff2/UbuntuMono-B.woff2") format("woff");
          }
      @font-face {
        font-family:"UbuntuMonoBoldItalic";
        src: url("https://raw.githubusercontent.com/901D3/webcuahuy-901d3/main/assets/font/Ubuntu/woff2/UbuntuMono-BI.woff2");
        src: url("https://raw.githubusercontent.com/901D3/webcuahuy-901d3/main/assets/font/Ubuntu/woff2/UbuntuMono-BI.woff2") format("woff2")
        }
      @font-face {
        font-family:"UbuntuMonoR";
        src: url("https://raw.githubusercontent.com/901D3/webcuahuy-901d3/main/assets/font/Ubuntu/woff2/UbuntuMono-R.woff2");
        src: url("https://raw.githubusercontent.com/901D3/webcuahuy-901d3/main/assets/font/Ubuntu/woff2/UbuntuMono-R.woff2") format("woff2");
        }
      @font-face {
        font-family:"UbuntuMonoRI";
        src: url("https://raw.githubusercontent.com/901D3/webcuahuy-901d3/main/assets/font/Ubuntu/woff2/UbuntuMono-RI.woff2");
        src: url("https://raw.githubusercontent.com/901D3/webcuahuy-901d3/main/assets/font/Ubuntu/woff2/UbuntuMono-RI.woff2") format("woff2");
        }
      @font-face {
        font-family:"Trebuchet-MS";
        src: url("https://github.com/901D3/901D3.github.io/raw/branchcuahuy/assets/font/Trebuchet%20MS/trebuc.ttf");
        src: url("https://github.com/901D3/901D3.github.io/raw/branchcuahuy/assets/font/Trebuchet%20MS/trebuc.ttf") format("woff2");
        }
      @font-face {
        font-family:"Trebuchet-MS-Italic";
        src: url("https://cdn.glitch.global/de30bc39-21c4-407f-9d22-09711e88ebe8/Trebuchet-MS-Italic.ttf?v=1702190853354");
        src: url("https://cdn.glitch.global/de30bc39-21c4-407f-9d22-09711e88ebe8/Trebuchet-MS-Italic.ttf?v=1702190853354") format("woff2");
        }
      @font-face {
        font-family:"Classwiz-X";
        src: url("https://github.com/901D3/901D3.github.io/raw/branchcuahuy/assets/font/Calculator%20font/Casio/Classwiz%20X/ClassWizXDisplay-Regular.woff2");
        src: url("https://github.com/901D3/901D3.github.io/raw/branchcuahuy/assets/font/Calculator%20font/Casio/Classwiz%20X/ClassWizXDisplay-Regular.woff2") format("woff2");
        }
      @font-face {
        font-family:"Classwiz-CW";
        src: url("https://github.com/901D3/901D3.github.io/raw/branchcuahuy/assets/font/Calculator%20font/Casio/Classwiz%20CW/cwcwd.woff2");
        src: url("https://github.com/901D3/901D3.github.io/raw/branchcuahuy/assets/font/Calculator%20font/Casio/Classwiz%20CW/cwcwd.woff2") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      body {
        text-align: center;
        margin: auto;
        color: white;
        margin-left: auto;
        margin-right: auto;
        }
      div.content {
        display:flex;
        justify-content: center;
        width: inherit;
        overflow:hidden;
        }
      h1.center {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }
      h2.center {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }
      h3.center {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }
      h4.center {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }
      h5.center {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }
      h6.center {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }
      table.center {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }
      tr.center {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }
      th.center {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }
      td.center {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }
      p.center {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }
      div.center {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }
      img.center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        height:auto;
      }
