/***
 *       ____ ____ ____  
 *      / ___/ ___/ ___| 
 *     | |   \___ \___ \ 
 *     | |___ ___) |__) |
 *      \____|____/____/ 
 *                       
 */
      @font-face {
        font-family:"UbuntuBold";
        src: url("https://cdn.glitch.global/de30bc39-21c4-407f-9d22-09711e88ebe8/Ubuntu-B.woff?v=1702184883848");
        src: url("https://cdn.glitch.global/de30bc39-21c4-407f-9d22-09711e88ebe8/Ubuntu-B.woff?v=1702184883848") format("woff");
        }
      @font-face {
        font-family:"UbuntuBoldItalic";
        src: url("https://cdn.glitch.global/de30bc39-21c4-407f-9d22-09711e88ebe8/Ubuntu-BI.woff2?v=1702189097972");
        src: url("https://cdn.glitch.global/de30bc39-21c4-407f-9d22-09711e88ebe8/Ubuntu-BI.woff2?v=1702189097972") format("woff2");
        }
      @font-face {
        font-family:"UbuntuLow";
        src: url("https://cdn.glitch.global/de30bc39-21c4-407f-9d22-09711e88ebe8/Ubuntu-L.woff2?v=1702189070240");
        src: url("https://cdn.glitch.global/de30bc39-21c4-407f-9d22-09711e88ebe8/Ubuntu-L.woff2?v=1702189070240") format("woff2");
        }
      @font-face {
        font-family:"UbuntuLowItalic";
        src: url("https://cdn.glitch.global/de30bc39-21c4-407f-9d22-09711e88ebe8/Ubuntu-LI.woff2?v=1702189111821");
        src: url("https://cdn.glitch.global/de30bc39-21c4-407f-9d22-09711e88ebe8/Ubuntu-LI.woff2?v=1702189111821") format("woff2");
        }
      @font-face {
        font-family:"UbuntuMedium";
        src: url("https://cdn.glitch.global/de30bc39-21c4-407f-9d22-09711e88ebe8/Ubuntu-M.woff2?v=1702189151109");
        src: url("https://cdn.glitch.global/de30bc39-21c4-407f-9d22-09711e88ebe8/Ubuntu-M.woff2?v=1702189151109") format("woff2");
        }
      @font-face {
        font-family:"UbuntuMediumItalic";
        src: url("https://cdn.glitch.global/de30bc39-21c4-407f-9d22-09711e88ebe8/Ubuntu-MI.woff2?v=1702189131099");
        src: url("https://cdn.glitch.global/de30bc39-21c4-407f-9d22-09711e88ebe8/Ubuntu-MI.woff2?v=1702189131099") format("woff2")
        }
      @font-face {
        font-family:"UbuntuR";
        src: url("https://cdn.glitch.global/de30bc39-21c4-407f-9d22-09711e88ebe8/Ubuntu-R.woff2?v=1702189162056");
        src: url("https://cdn.glitch.global/de30bc39-21c4-407f-9d22-09711e88ebe8/Ubuntu-R.woff2?v=1702189162056") format("woff2")
        }
      @font-face {
        font-family:"UbuntuRI";
        src: url("https://cdn.glitch.global/de30bc39-21c4-407f-9d22-09711e88ebe8/Ubuntu-RI.woff2?v=1702189168624");
        src: url("https://cdn.glitch.global/de30bc39-21c4-407f-9d22-09711e88ebe8/Ubuntu-RI.woff2?v=1702189168624") format("woff2")
        }
      @font-face {
        font-family:"UbuntuTh";
        src: url("https://cdn.glitch.global/de30bc39-21c4-407f-9d22-09711e88ebe8/Ubuntu-Th.woff2?v=1702190307467");
        src: url("https://cdn.glitch.global/de30bc39-21c4-407f-9d22-09711e88ebe8/Ubuntu-Th.woff2?v=1702190307467") format("woff2")
        }
      @font-face {
        font-family:"UbuntuMonoBold";
        src: url("https://cdn.glitch.global/de30bc39-21c4-407f-9d22-09711e88ebe8/UbuntuMono-B.woff?v=1702170974602");
        src: url("https://cdn.glitch.global/de30bc39-21c4-407f-9d22-09711e88ebe8/UbuntuMono-B.woff?v=1702170974602") format("woff");
          }
      @font-face {
        font-family:"UbuntuMonoBoldItalic";
        src: url("https://cdn.glitch.global/de30bc39-21c4-407f-9d22-09711e88ebe8/UbuntuMono-BI.woff2?v=1702189177238");
        src: url("https://cdn.glitch.global/de30bc39-21c4-407f-9d22-09711e88ebe8/UbuntuMono-BI.woff2?v=1702189177238") format("woff2")
        }
      @font-face {
        font-family:"Trebuchet-MS";
        src: url("https://cdn.glitch.global/de30bc39-21c4-407f-9d22-09711e88ebe8/trebuc.ttf?v=1702190846190");
        src: url("https://cdn.glitch.global/de30bc39-21c4-407f-9d22-09711e88ebe8/trebuc.ttf?v=1702190846190") format("woff2");
        }
      @font-face {
        font-family:"Trebuchet-MS-Italic";
        src: url("https://cdn.glitch.global/de30bc39-21c4-407f-9d22-09711e88ebe8/Trebuchet-MS-Italic.ttf?v=1702190853354");
        src: url("https://cdn.glitch.global/de30bc39-21c4-407f-9d22-09711e88ebe8/Trebuchet-MS-Italic.ttf?v=1702190853354") format("woff2");
        }
      @font-face {
        font-family:"Classwiz-X";
        src: url("https://raw.githubusercontent.com/901D3/webcuahuy-901d3/main/assets/font/Calculator font/Casio/Classwiz X/cwxd.woff2");
        src: url("https://raw.githubusercontent.com/901D3/webcuahuy-901d3/main/assets/font/Calculator font/Casio/Classwiz X/cwxd.woff2") format("woff2");
        }
      @font-face {
        font-family:"Classwiz-CW";
        src: url("https://cdn.glitch.global/de30bc39-21c4-407f-9d22-09711e88ebe8/cwcwd.woff2?v=1702470791680");
        src: url("https://cdn.glitch.global/de30bc39-21c4-407f-9d22-09711e88ebe8/cwcwd.woff2?v=1702470791680") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      @font-face {
        font-family:"";
        src: url("");
        src: url("") format("woff2");
        }
      body {
        margin: auto;
        color: white;
        }
      div.content {
        display:flex;
        justify-content: center;
        width: inherit;
        overflow:hidden;
        }
      table,
      th,
      td {
        border: 3px solid white;
        color: white;
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
      }
      th,
      td {
        padding : 8px;
          }
      h1.center {
        margin-left: auto;
        margin-right: auto;
      }
      h2.center {
        margin-left: auto;
        margin-right: auto;
      }
      h3.center {
        margin-left: auto;
        margin-right: auto;
      }
      h4.center {
        margin-left: auto;
        margin-right: auto;
      }
      h5.center {
        margin-left: auto;
        margin-right: auto;
      }
      h6.center {
        margin-left: auto;
        margin-right: auto;
      }
      table.center {
        margin-left: auto;
        margin-right: auto;
      }
      tr.center {
        margin-left: auto;
        margin-right: auto;
      }
      th.center {
        margin-left: auto;
        margin-right: auto;
      }
      td.center {
        margin-left: auto;
        margin-right: auto;
      }
      p.center {
        margin-left: auto;
        margin-right: auto;
      }
      div.center {
        margin-left: auto;
        margin-right: auto;
      }
      img.center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%; 
      }